@font-face{
    font-family: "Minecraftia";
    src: url('../Fonts/Minecraftia.ttf');
}
body{
    background: url('../IMG/Temas/brand.png') no-repeat;
    background-size: cover;
    font-family: "Minecraftia";
    overflow-x: hidden;
    overflow-y: hidden;
    user-select: none;
    image-rendering: auto;
    image-rendering: pixelated;
}
#filtro_colorido{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: 0 !important;
    background: rgba(9,121,99,0.6699054621848739);
    background: linear-gradient(0deg, rgba(0,0,0,0.9248074229691877) 0%, rgba(4, 78, 64, 0.67) 39%, rgba(0,212,255,0) 100%);
    transition: background-color .2s;
}
h3.ordena{
    color: white;
    text-shadow: 0px 0px 2px black;
    left: 25%;
    top: -15%;
    position: absolute;
    display: none;
}
#versao_referencia{
    display: none;
}
#Inventario{
    position: fixed;
    z-index: 3;
    width: 80%;
    height: 80%;
    left: 10%;
    top: 10%;
    background-color: rgba(0, 0, 0, .5);
    display: none;
}
img#menu{
    position: absolute;
    z-index: 2;
}
#menu_completo{
    top: 15px;
    width: 600px;
    height: auto;
    padding: 5px;
    position: absolute;
    left: 3%;
    color: white;
    font-size: 24px;
    padding: 15px;
}
#lista_itens{
    overflow: hidden;
    z-index: 2;
    top: 10%;
    width: 470px;
    height: 387px;
    left: 52%;
    position: absolute;
    margin-left: -300px;
    color: white;
    font-size: 24px;
    padding: 15px;
}
#estatisticas_inventario{
    top: 17.5%;
    width: 585px;
    padding: 5px;
    position: absolute;
    right: 4%;
    height: 408px;
}
img#prancheta{
    position: absolute;
    z-index: 2;
    left: 0px;
}
#text_estatsc{
    z-index: 2 !important;
    position: absolute;
    text-align: center;
    width: 100%;
}
.estat{
    position: absolute;
    padding-left: 5%;
}
#prancheta_add{
    display: none;
    top: 18.2%;
    z-index: 9;
    width: 585px;
    padding: 5px;
    position: absolute;
    right: 4%;
    height: 408px;
}
#inputs_principais{
    padding-top: 40px;
    padding-left: 3%;
    height: auto;
    width: 368px;
}
.input_prancheta{
    border: 0px solid;
    color: white;
    text-shadow: 3px 3px 0px rgb(62, 62, 62);
    font-family: "Minecraftia";
    box-shadow: 0 0 0 0;
    outline: 0;
    padding-top: 10px;
    max-height: 34px;
    overflow: hidden;
}
.input_check{
    border: 1px solid black;
    width: 42px;
    height: 42px;
}
select{
    max-width: 368px;
}
#inserir_item{
    width: 90%;
    right: 6%;
    bottom: 6%;
    position: absolute;
    font-size: 30px;
    transition: background-color .2s;
    border: solid 0px white;
}
#inserir_item:hover{
    background-color: greenyellow;
}
#checkboxes{
    position: absolute;
    width: 125px;
    height: 125px;
    right: 5%;
    top: 11%;
}
.icon_check{
    width: 38px;
}
#selecionar_sprite{
    padding-top: 5px;
}
#input_img{
    width: 85%;
    border: 1px solid grey;
    padding: 0px;
    height: 34px;
    border-radius: 4px;
}
#preview_sprite{
    margin-top: 15px;
    margin-left: 30px;
    box-shadow: inset 0px 0px 10px black;
    width: 48px;
    height: 48px;
    left: 25%;
    top: 200px;
}
#listagem{
    width: 503px;
    left: 11px;
    height: 270px;
    position: absolute;
    overflow-y: auto;
    top: 147px;
}
.slot_item, .slot_item_add{
    width: 54px;
    height: 54px;
    float: left;
}
.slot_item:hover, .slot_item_add:hover{
    background: url("../IMG/Interface/Claro/slot_hover.png") !important;
}
.icon_item{
    width: 48px;
    height: 48px;
    padding: 3px;
}
input, select{
    width: 480px;
    height: 40px;
    font-size: 24px;
    padding-left: 20px;
}
.Construcao, .Decorativos, .Redstone, .Transportes, .Diversos, .Alimentos, .Ferramentas, .Combate, .Pocoes, .Especiais, .Prancheta, .Generico, .oculto{
    display: none;
}
#item_0, #item_1, #item_2, #item_3, #item_4, #item_5, #item_6, #item_7, #item_8, #item_9, #item_10, #item_11{
    width: 80px;
    height: 80px;
    position: absolute;
    z-index: 3;
}
#item_0{
    top: 80%;
    left: 3%;
}
#item_1{
    top: 80%;
    left: 16.5%;
}
#item_2{
    top: 80%;
    left: 30%;
}
#item_3{
    top: 80%;
    left: 44%;
}
#item_9{
    top: 80%;
    left: 69%;
}
#item_10{
    top: 80%;
    left: 82%;
}
#item_4{
    top: 1650%;
    left: 3%;
}
#item_5{
    top: 1650%;
    left: 16.5%;
}
#item_6{
    top: 1650%;
    left: 30%;
}
#item_7{
    top: 1650%;
    left: 44%;
}
#item_8{
    top: 1650%;
    left: 58%;
}
#item_11{
    top: 1650%;
    left: 82%;
}
.aba_menu{
    z-index: 2;
    position: absolute;
    top: 15px;
}
.opcoes_laterais{
    z-index: 0 !important;
    animation: puxa_campos .5s;
}
.opcoes_baixo{
    left: 0%;
    position: absolute;
    top: 96%;
    z-index: 0 !important;
    animation: puxa_campos2 .5s;
}
#img_decorativos{
    left: 16.2%;
}
#img_redstone{
    left: 30%;
}
#img_transportes{
    left: 43.8%;
}
#img_especiais{
    left: 68.6%;
}
#img_pesquisa{
    left: 81.9%;
}
#img_diversos{
    top: 1641%;
}
#img_alimentos{
    top: 1642%;
    left: 16%;
}
#img_ferramentas{
    top: 1642%;
    left: 30%;
}
#img_combate{
    top: 1642%;
    left: 43.8%;
}
#img_pocoes{
    top: 1642%;
    left: 57.6%;
}
#img_configs_2, #img_versoes_2, #img_coletaveis_2, #img_genericos_2, #img_ocultos_2{
    display: none;
    z-index: 1 !important;
}
#img_configs, #img_configs_2{
    z-index: 0;
    position: absolute;
    top: 100px;
    right: -5.9%;
}
#img_coletaveis, #img_coletaveis_2{
    z-index: 0;
    position: absolute;
    top: 190px;
    right: -5.9%;
}
#img_versoes, #img_versoes_2{
    display: none;
    z-index: 0;
    position: absolute;
    top: 280px;
    right: -5.9%;
}
#img_genericos, #img_genericos_2{
    z-index: 0;
    position: absolute;
    top: 370px;
    right: -5.9%;
}
#img_prancheta{
    top: 1680%;
    left: 82.4%;
}
#img_oculto{
    z-index: 1;
    top: 100%;
    left: 0%;
}
#img_ocultos_2{
    left: 3px;
}
#barra_pesquisa_input{
    box-shadow: 0 0 0 0;
    outline: 0;
    padding-top: 5px;
    padding-left: 10px;
    font-family: "Minecraftia";
    width: 248px;
    top: 110px;
    right: 16.6%;
    z-index: 4;
    position: absolute;
    color: white;
    text-shadow: 3px 3px 0px rgb(62, 62, 62);
    border: 0px solid;
}
#barra_pesquisa{
    right: 16.6%;
    top: 110px;
}
.input_prancheta{
    padding-left: 10px;
    width: 356px;
    left: 4%;
}
#barra_nome{
    top: 12%;
}
#barra_descricao{
    top: 30%;
    z-index: 4;
}
#barra_nome_interno{
    top: 21%;
}
#barra_nome_interno_pr{
    top: 25%;
}
#barra_aliases{
    top: 30%;
}
#barra_durabilidade{
    top: 40%;
}
#titulo_aba{
    z-index: 3;
    position: absolute;
    left: 6.4%;
    top: 370%;
}
#barra_rolagem{
    position: absolute;
    width: 36px;
    height: 330px;
    right: 54px;
    top: 153px;
    z-index: 9;
}
#barra_scroll{
    position: absolute;
    width: 36px;
    height: 45px;
    cursor: move;
    z-index: 10;
}
#barra_scroll_block{
    display: none;
}
#img_detalhes{
    position: absolute;
    right: 50%;
    margin-right: -24px;
    top: 30%;
    transform: scale(3);
    filter: drop-shadow(0px 0px 3px black);
    width: 48px;
    height: 48px;
    z-index: 1;
}
#img_detalhes_classic{
    position: absolute;
    right: 35%;
    top: 30%;
    transform: scale(3);
    filter: drop-shadow(0px 0px 3px black);
    width: 48px;
    height: 48px;
    image-rendering: auto;
    image-rendering: pixelated;
    z-index: 1;
}
#btn_voltar, #btn_apagar{
    font-size: 30px;
    width: 300px;
    z-index: 2;
    transition: background-color .2s;
    border: solid 0px white;
}
#btn_voltar:hover{
    background-color: gray;
}
#btn_apagar:hover, #button_apagar_dados:hover{
    background-color: rgb(241, 101, 101);
}
#btn_voltar{
    position: absolute;
    top: 2%;
    right: 5%;
}
#btn_apagar{
    position: absolute;
    top: 2%;
    left: 6.5%;
}
#lista_versoes{
    background: url("../IMG/Interface/Livro.png") no-repeat;
    z-index: 10;
    top: 7%;
    font-size: 18px;
    padding-left: 4%;
    width: 438px;
    height: 540px;
    padding-top: 100px;
    position: absolute;
    left: 70%;
    margin-left: -219px;
}
a{
    text-decoration: none !important;
    color: blue !important;
}
::-webkit-scrollbar {
    width: 0px;
}
#menu_user{
    position: absolute;
    right: 2%;
    bottom: 5%;
    z-index: 1;
    position: absolute;
    animation: puxa_botoes_2 2s;    
}
#botoes_ferramentas{
    position: absolute;
    right: 2%;
    top: 5%;
    z-index: 1;
    position: absolute;
    animation: puxa_botoes 2s;
}
.bttn_frrm{ 
    color: black !important;
    background-color: white;
    width: 85%; 
    padding: 10px;
    height: 34px;
    transition: background-color .2s;
    margin-left: 4px;
    margin-right: 4px;
    box-shadow: 4px 0px 0px 0px black, 0px 4px 0px 0px black, -4px 0px 0px 0px #c6c6c6, 4px 4px 0px 0px black, 0px -4px 0px 0px white, -4px 4px 0px 0px #8b8b8b, -4px -4px 0px 0px white, 4px -4px 0px 0px #8b8b8b, 5px 5px 0px -30px rgba(0,0,0,0);
}
.bttn_frrm:hover{
    background-color: rgb(224, 193, 135);
}
#bttn_programmers_atv{
    background-color: rgb(224, 193, 135);
    transition: background-color .2s;
}
#bttn_programmers_atv:hover{
    background-color: rgb(180, 147, 85);
}
#button_importar_dados{
    background-color: rgb(154, 231, 212);
    transition: background-color .2s;
}
#button_importar_dados:hover{
    background-color: rgb(100, 197, 173);
}
#button_apagar_dados, #btn_apagar{
    background-color: rgb(253, 179, 179);
    transition: background-color .2s;
}
#selecionar_celula_dados{
    display: none;
    z-index: 11;
    width: 100%;
    height: 100%;
    padding-top: 10%;
    left: 0px;
    top: 0px;
    color: white;
    background-color: rgba(0, 0, 0, .7);
    position: absolute;
    text-align: center;
}
#bttns_navegacao{
    position: absolute;
    z-index: 100;
    top: 1%;
    left: 50%;
    margin-left: -45px;
    width: 104px;
}
.navegacao{
    font-size: 30px;
    height: 50px;
    width: 50px;
    background-color: wheat;
    transition: background-color .2s;
    border: solid 0px white;
}
.navegacao:hover{
    background-color: lightskyblue;
}
#infos_versao{
    position: absolute;
    right: 15%;
    text-align: center;
    top: 5%;
    width: 585px;
    padding: 5px;
    right: 4%;
    font-size: 40px;
    color: white;
    text-shadow: 3px 3px 0px rgb(62, 62, 62);
}
.botoes_menu{
    display: none;
}
#prancheta_att{
    position: absolute;
    width: 100%;
    height: 100%;
}
#selecionador{
    padding-top: 5%;
    padding-left: 3%;
    width: 378px;
    height: 350px;
}
.pag_1{
    z-index: 1;
    width: 378px;
    height: 300px;
}
#pag_1{
    display: none;
}
.pag_2{
    display: none;
    z-index: 1;
    width: 378px;
    height: 300px;
}
.troca_pag_button{
    width: 378px;
    font-size: 30px;
    border: solid 1px gray;
    border-radius: 2px;
    position: absolute;
    padding: 2px;
    padding-left: 15px;
    padding-right: 15px;
    transition: background-color .2s;
}
.troca_pag_button:hover{
    background-color: gray;
}
#menu_criacao{
    width: 1071px;
    height: 498px;
    position: absolute;
    left: 50%;
    margin-left: -535px;
    top: 50%;
    margin-top: -249px;
    background-image: url("../IMG/Interface/Claro/crafting.png");
}
.item_crafting{
    width: 90px;
    height: 75px;
    z-index: 3;
    left: 155px;
    position: absolute;
}
.itc_1{
    top: 75px;
}
.itc_2{
    top: 155px;
}
.itc_3{
    top: 237px;
}
.itc_4{
    top: 317px;
}
.itc_5{
    top: 398px;
}
#seta_esquerda_crafting{
    background-image: url("../IMG/Interface/Claro/seta_esquerda.png");
    width: 33px;
    height: 51px;
    position: absolute;
    left: 361px;
    bottom: 99px;
    z-index: 3;
}
#seta_direita_crafting{
    background-image: url("../IMG/Interface/Claro/seta_direita.png");
    width: 33px;
    height: 51px;
    position: absolute;
    left: 523px;
    bottom: 99px;
    z-index: 3;
}
#prancheta_itens_crafting{
    width: 375px;
    height: 300px;
    z-index: 2;
    position: absolute;
    left: 129px;
    top: 93px;
    overflow-y: scroll;
}
.slot_item_crafting{
    background-image: url("../IMG/Interface/Claro/slot_item_crafting.png");
    width: 75px;
    height: 75px;
    float: left;
}
.sprite_slot_crafting{
    padding-left: 12px;
    padding-top: 12px;
    width: 48px;
    height: 48px;
}
#grid_crafting{
    top: 48px;
    width: 162px;
    height: 162px;
    z-index: 2;
    position: absolute;
    right: 279px;
}
.gric{
    width: 48px;
    height: 48px;
    float: left;
    margin: 3px;
}
.gric_0, .gric_8, .gric_5{
    background-image: url("../IMG/Itens/new/Construcao/acacia_log.png");
    background-repeat: no-repeat;
}