* {
    image-rendering: pixelated;
}

@font-face {
    font-family: "Minecraftia";
    src: url('../files/fonts/Minecraftia.ttf');
}

body {
    user-select: none;
    overflow-x: hidden;
    overflow-y: hidden;
    image-rendering: auto;
    font-family: "Minecraftia";
    image-rendering: pixelated;
    background-size: cover !important;
    background: url('../img/Temas/1.21.png') no-repeat;
}

#filtro_colorido {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 0 !important;
    transition: background-color .2s;
    background: rgba(9, 121, 99, 0.6699054621848739);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9248074229691877) 0%, rgba(4, 78, 64, 0.67) 39%, rgba(0, 212, 255, 0) 100%);
}

h3.ordena {
    top: -15%;
    left: 25%;
    color: white;
    display: none;
    position: absolute;
    text-shadow: 0px 0px 2px black;
}

#versao_referencia {
    display: none;
}

#Inventario {
    top: 10%;
    left: 10%;
    z-index: 3;
    width: 80%;
    height: 80%;
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, .5);
}

img#menu {
    z-index: 2;
    position: absolute;
}

#menu_completo {
    left: 3%;
    top: 15px;
    width: 600px;
    height: auto;
    color: white;
    padding: 15px;
    font-size: 24px;
    position: absolute;
}

#lista_itens {
    z-index: 2;
    width: 486px;
    color: white;
    height: 270px;
    font-size: 24px;
    overflow: hidden;
    margin-top: 135px;
    margin-left: 24px;
    position: absolute;
}

#listagem {
    width: 503px;
    height: 270px;
    overflow-y: auto;
    position: absolute;
    padding: 0px !important;
}

#estatisticas_inventario {
    right: 4%;
    top: 17.5%;
    width: 585px;
    padding: 5px;
    height: 408px;
    position: absolute;
}

img#prancheta {
    left: 0px;
    z-index: 2;
    position: absolute;
}

#text_estatsc {
    width: 100%;
    position: absolute;
    text-align: center;
    z-index: 2 !important;
}

.estat {
    padding-left: 5%;
    position: absolute;
}

#prancheta_add {
    right: 4%;
    z-index: 8;
    top: 18.2%;
    width: 585px;
    padding: 5px;
    display: none;
    height: 408px;
    position: absolute;
}

#inputs_principais {
    height: auto;
    width: 368px;
    padding-left: 3%;
    padding-top: 40px;
}

.input_prancheta {
    outline: 0;
    color: white;
    overflow: hidden;
    max-height: 34px;
    padding-top: 10px;
    border: 0px solid;
    box-shadow: 0 0 0 0;
    font-family: "Minecraftia";
    text-shadow: 3px 3px 0px rgb(62, 62, 62);
}

.input_check {
    width: 42px;
    height: 42px;
    border: 1px solid black;
}

select {
    max-width: 368px;
}

#inserir_item {
    right: 6%;
    bottom: 6%;
    width: 90%;
    font-size: 30px;
    position: absolute;
    border: solid 0px white;
    transition: background-color .2s;
}

#inserir_item:hover {
    background-color: greenyellow;
}

#checkboxes {
    top: 11%;
    right: 5%;
    width: 125px;
    height: 125px;
    position: absolute;
}

.icon_check {
    width: 38px;
}

#selecionar_sprite {
    padding-top: 5px;
}

#input_img {
    width: 85%;
    padding: 0px;
    height: 34px;
    border-radius: 4px;
    border: 1px solid grey;
}

#preview_sprite {
    left: 25%;
    top: 200px;
    width: 48px;
    height: 48px;
    margin-top: 15px;
    margin-left: 30px;
    box-shadow: inset 0px 0px 10px black;
}

.slot_item,
.slot_item_add {
    width: 54px;
    float: left;
    height: 54px;
}

.slot_item:hover,
.slot_item_add:hover {
    background: url("../img/interface/claro/slot_hover.png") !important;
}

.icon_item {
    width: 48px;
    padding: 3px;
    height: 48px;
    display: block;
}

input,
select {
    width: 480px;
    height: 40px;
    font-size: 24px;
    padding-left: 20px;
}

.construcao,
.decorativos,
.redstone,
.transportes,
.diversos,
.alimentos,
.ferramentas,
.combate,
.pocoes,
.especiais,
.prancheta,
.oculto {
    display: none;
}

#item_0,
#item_1,
#item_2,
#item_3,
#item_4,
#item_5,
#item_6,
#item_7,
#item_8,
#item_9,
#item_10,
#item_11 {
    z-index: 3;
    width: 80px;
    height: 80px;
    position: absolute;
}

#item_0 {
    top: 80%;
    left: 3%;
}

#item_1 {
    top: 80%;
    left: 16.5%;
}

#item_2 {
    top: 80%;
    left: 30%;
}

#item_3 {
    top: 80%;
    left: 44%;
}

#item_9 {
    top: 80%;
    left: 69%;
}

#item_10 {
    top: 80%;
    left: 82%;
}

#item_4 {
    left: 3%;
    top: 1650%;
}

#item_5 {
    top: 1650%;
    left: 16.5%;
}

#item_6 {
    left: 30%;
    top: 1650%;
}

#item_7 {
    left: 44%;
    top: 1650%;
}

#item_8 {
    left: 58%;
    top: 1650%;
}

#item_11 {
    left: 82%;
    top: 1650%;
}

.aba_menu {
    top: 15px;
    z-index: 2;
    position: absolute;
}

.opcoes_laterais {
    z-index: 0 !important;
    animation: puxa_campos .5s;
}

.opcoes_baixo {
    left: 0%;
    top: 96%;
    position: absolute;
    z-index: 0 !important;
    animation: puxa_campos2 .5s;
}

#img_decorativos {
    left: 16.2%;
}

#img_redstone {
    left: 30%;
}

#img_transportes {
    left: 43.8%;
}

#img_especiais {
    left: 68.6%;
}

#img_pesquisa {
    left: 81.9%;
}

#img_diversos {
    top: 1641%;
}

#img_alimentos {
    top: 1642%;
    left: 101px;
}

#img_ferramentas {
    top: 1642%;
    left: 188.6px;
}

#img_combate {
    top: 1642%;
    left: 43.8%;
}

#img_pocoes {
    top: 1642%;
    left: 57.6%;
}

#img_configs_2,
#img_versoes_2,
#img_coletaveis_2,
#img_ocultos_2 {
    display: none;
    z-index: 1 !important;
}

#img_configs,
#img_configs_2 {
    z-index: 0;
    top: 100px;
    right: -5.9%;
    position: absolute;
}

#img_coletaveis,
#img_coletaveis_2 {
    z-index: 0;
    top: 190px;
    right: -5.9%;
    position: absolute;
}

#img_versoes,
#img_versoes_2 {
    z-index: 0;
    top: 280px;
    right: -5.9%;
    display: none;
    position: absolute;
}

#img_prancheta {
    top: 1680%;
    left: 82.4%;
}

#img_oculto {
    left: 0%;
    top: 100%;
    z-index: 1;
}

#img_ocultos_2 {
    left: 3px;
}

#barra_pesquisa_input {
    top: 110px;
    z-index: 4;
    outline: 0;
    width: 248px;
    right: 16.6%;
    color: white;
    padding-top: 5px;
    border: 0px solid;
    position: absolute;
    padding-left: 10px;
    box-shadow: 0 0 0 0;
    font-family: "Minecraftia";
    text-shadow: 3px 3px 0px rgb(62, 62, 62);
}

#barra_pesquisa {
    top: 110px;
    right: 16.6%;
}

.input_prancheta {
    left: 4%;
    width: 356px;
    padding-left: 10px;
}

#barra_nome {
    top: 12%;
}

#barra_descricao {
    top: 30%;
    z-index: 4;
}

#barra_nome_interno {
    top: 21%;
}

#barra_nome_interno_pr {
    top: 25%;
}

#barra_aliases {
    top: 30%;
}

#barra_durabilidade {
    top: 40%;
}

#btn_fabricacao,
#btn_abamenu {
    height: 45px;
    width: 368px;
    font-size: 20px;
    padding-top: 5px;
    font-family: 'Minecraftia';
}

#titulo_aba {
    top: 370%;
    z-index: 3;
    left: 6.4%;
    height: 30px;
    overflow: hidden;
    position: absolute;
}

#barra_rolagem {
    z-index: 2;
    top: 153px;
    right: 54px;
    width: 36px;
    height: 330px;
    position: absolute;
}

#barra_scroll {
    z-index: 2;
    width: 36px;
    height: 45px;
    cursor: move;
    position: absolute;
}

#barra_scroll_block {
    display: none;
}

#img_detalhes {
    top: 30%;
    z-index: 1;
    right: 50%;
    width: 48px;
    height: 48px;
    position: absolute;
    margin-right: -24px;
    transform: scale(3);
    filter: drop-shadow(0px 0px 3px black);
}

#img_detalhes_classic {
    top: 30%;
    right: 35%;
    z-index: 1;
    width: 48px;
    height: 48px;
    position: absolute;
    transform: scale(3);
    image-rendering: auto;
    image-rendering: pixelated;
    filter: drop-shadow(0px 0px 3px black);
}

#btn_voltar,
#btn_apagar {
    z-index: 2;
    width: 300px;
    font-size: 30px;
    border: solid 0px white;
    transition: background-color .2s;
}

#btn_voltar:hover {
    background-color: gray;
}

#btn_apagar:hover,
#button_apagar_dados:hover {
    background-color: rgb(241, 101, 101);
}

#btn_voltar {
    top: 2%;
    right: 5%;
    position: absolute;
}

#btn_apagar {
    top: 2%;
    left: 6.5%;
    position: absolute;
}

#lista_versoes {
    top: 7%;
    left: 70%;
    z-index: 10;
    width: 438px;
    height: 540px;
    font-size: 18px;
    padding-left: 4%;
    padding-top: 100px;
    position: absolute;
    margin-left: -219px;
    background: url("../img/interface/Livro.png") no-repeat;
}

a {
    color: blue !important;
    text-decoration: none !important;
}

::-webkit-scrollbar {
    width: 0px;
}

#menu_user {
    right: 2%;
    bottom: 5%;
    z-index: 1;
    position: absolute;
    animation: puxa_botoes_2 2s;
}

#botoes_ferramentas {
    top: 5%;
    right: 2%;
    z-index: 1;
    position: absolute;
    animation: puxa_botoes 2s;
}

.bttn_frrm {
    width: 85%;
    height: 34px;
    padding: 10px;
    margin-left: 4px;
    margin-right: 4px;
    background-color: white;
    color: black !important;
    transition: background-color .2s;
    box-shadow: 4px 0px 0px 0px black, 0px 4px 0px 0px black, -4px 0px 0px 0px #c6c6c6, 4px 4px 0px 0px black, 0px -4px 0px 0px white, -4px 4px 0px 0px #8b8b8b, -4px -4px 0px 0px white, 4px -4px 0px 0px #8b8b8b, 5px 5px 0px -30px rgba(0, 0, 0, 0);
}

.bttn_frrm:hover {
    background-color: rgb(224, 193, 135);
}

#bttn_programmers_atv {
    transition: background-color .2s;
    background-color: rgb(224, 193, 135);
}

#bttn_programmers_atv:hover {
    background-color: rgb(180, 147, 85);
}

#button_importar_dados {
    transition: background-color .2s;
    background-color: rgb(154, 231, 212);
}

#button_importar_dados:hover {
    background-color: rgb(100, 197, 173);
}

#button_apagar_dados,
#btn_apagar {
    transition: background-color .2s;
    background-color: rgb(253, 179, 179);
}

#importar_dados_json {
    top: 0px;
    left: 0px;
    z-index: 11;
    width: 100%;
    height: 100%;
    color: white;
    display: none;
    padding-top: 10%;
    position: absolute;
    text-align: center;
    background-color: rgba(0, 0, 0, .7);
}

#bttns_navegacao {
    top: 1%;
    left: 50%;
    width: 104px;
    z-index: 7;
    margin-left: -45px;
    position: absolute;
}

.navegacao {
    width: 50px;
    height: 50px;
    font-size: 30px;
    border: solid 0px white;
    background-color: wheat;
    transition: background-color .2s;
}

.navegacao:hover {
    background-color: lightskyblue;
}

#infos_versao {
    top: 5%;
    right: 4%;
    right: 15%;
    width: 585px;
    padding: 5px;
    color: white;
    font-size: 40px;
    text-align: center;
    position: absolute;
    text-shadow: 3px 3px 0px rgb(62, 62, 62);
}

.botoes_menu {
    display: none;
}

#prancheta_att {
    width: 100%;
    height: 100%;
    position: absolute;
}

#selecionador {
    width: 378px;
    height: 350px;
    padding-top: 5%;
    padding-left: 3%;
}

.pag_1_opcoes {
    z-index: 1;
    width: 378px;
    height: 300px;
}

#pag_1 {
    display: none;
}

.pag_2_opcoes {
    z-index: 1;
    width: 378px;
    display: none;
    height: 300px;
}

.troca_pag_button {
    width: 378px;
    padding: 2px;
    font-size: 30px;
    border-radius: 2px;
    position: absolute;
    padding-left: 15px;
    padding-right: 15px;
    border: solid 1px gray;
    transition: background-color .2s;
}

.troca_pag_button:hover {
    background-color: gray;
}

#menu_criacao {
    top: 50%;
    left: 50%;
    width: 1071px;
    height: 498px;
    position: absolute;
    margin-top: -249px;
    margin-left: -535px;
    background-image: url("../img/interface/claro/crafting.png");
}

.item_crafting {
    z-index: 3;
    width: 90px;
    left: 155px;
    height: 75px;
    position: absolute;
}

.itc_1 {
    top: 75px;
}

.itc_2 {
    top: 155px;
}

.itc_3 {
    top: 237px;
}

.itc_4 {
    top: 317px;
}

.itc_5 {
    top: 398px;
}

#seta_esquerda_crafting {
    z-index: 3;
    left: 361px;
    width: 33px;
    height: 51px;
    bottom: 99px;
    position: absolute;
    background-image: url("../img/interface/claro/seta_esquerda.png");
}

#seta_esquerda_crafting:hover {
    background-image: url("../img/interface/claro/seta_esquerda_hover.png");
}

#seta_direita_crafting {
    z-index: 3;
    left: 523px;
    width: 33px;
    height: 51px;
    bottom: 99px;
    position: absolute;
    background-image: url("../img/interface/claro/seta_direita.png");
}

#seta_direta_crafting:hover {
    background-image: url("../img/interface/claro/seta_direita_hover.png") !important;
}

#abas_craft_organiza {
    top: 70px;
    left: 148px;
    width: 105px;
    position: absolute;
    z-index: 1 !important;
}

.aba_menu_craft {
    width: 105px;
    height: 78px;
    display: none;
    padding-top: 3px;
    position: absolute;
}

#prancheta_itens_crafting {
    top: 93px;
    z-index: 2;
    left: 129px;
    width: 375px;
    height: 300px;
    position: absolute;
    overflow-y: scroll;
}

#img_craft_ferramentas {
    padding-top: 84px;
}

#img_craft_blocos {
    padding-top: 165px;
}

#img_craft_diversos {
    padding-top: 246px;
}

#img_craft_redstone {
    padding-top: 327px;
}

#num_pagina_craft {
    color: white;
    font-size: 24px;
    padding-top: 393px;
    padding-left: 270px;
}

.slot_item_crafting {
    width: 75px;
    float: left;
    height: 75px;
    background-image: url("../img/interface/claro/slot_item_crafting.png");
}

.sprite_slot_crafting {
    width: 48px;
    height: 48px;
    padding-top: 12px;
    padding-left: 12px;
}

#grid_crafting {
    top: 48px;
    z-index: 2;
    right: 279px;
    width: 162px;
    height: 162px;
    position: absolute;
    background-image: url("../img/interface/claro/slot.png");
}

.grid_craft {
    z-index: 2 !important;
}

.grid_craft:hover {
    background-image: url("../img/interface/claro/slot_hover.png") !important;
    background-position: -3px -3px;
}

#produto_final {
    top: 90px;
    z-index: 2;
    width: 78px;
    right: 93px;
    height: 78px;
    position: absolute;
}

#sprite_produto {
    width: 48px;
    float: left;
    height: 48px;
    margin-top: 15px;
    margin-left: 15px;
    position: absolute;
    z-index: 0 !important;
}

#qtd_produto {
    right: 0px;
    color: white;
    font-size: 24px;
    padding-top: 36px;
    position: absolute;
    padding-right: 12px;
    text-shadow: 3px 3px 0px #3e3e3e;
}

.gric {
    width: 48px;
    float: left;
    margin: 3px;
    height: 48px;
    z-index: 20 !important;
}

.gric_0,
.gric_8,
.gric_5 {
    background-repeat: no-repeat;
    background-image: url("../img/itens/new/construcao/acacia_log.png");
}

#craft_prancheta {
    top: 5%;
    right: 5%;
    width: 528px;
    height: 498px;
    position: absolute;
    background-image: url("../img/interface/claro/craft.png");
}

#slots_atalho_itens {
    left: 21px;
    height: 54px;
    width: 486px;
    bottom: 21px;
    position: absolute;
}

#craft_ativo {
    background-image: url("../img/interface/claro/slot_hover.png") !important;
}

#btn_confirma_craft {
    top: 180px;
    right: 21px;
    height: 45px;
    width: 219px;
    font-size: 20px;
    padding-top: 5px;
    border: 0px solid;
    position: absolute;
    font-family: 'Minecraftia';
    transition: background-color .2s;
}

#btn_confirma_craft:hover {
    background-color: rgb(100, 197, 173);
}

.input_hidden {
    display: none;
}

#click_abrir_crafting {
    top: 102px;
    width: 60px;
    height: 54px;
    right: 453px;
    position: absolute;
}

#prancheta_criar_crafting {
    top: 0px;
    left: 0px;
    width: 0px;
    height: 0px;
    display: none;
    position: fixed;
    z-index: 8 !important;
}

#btn_fecha_tela_craft {
    right: 92px;
    width: 88px;
    bottom: 21px;
    position: absolute;
    z-index: 9 !important;
}

#preview_item_craft {
    z-index: 99;
    width: 162px;
    right: 136px;
    height: 162px;
    bottom: 105px;
    position: absolute;
}

.textos_craft {
    margin-top: 11px;
    margin-left: 87px;
    position: absolute;
    font-size: 24px !important;
}

.text_craft_2 {
    margin-top: 210px;
    margin-left: 24px;
}

#fundo_personali {
    width: 150%;
    height: 150%;
    left: -10%;
    top: -10%;
    position: fixed;
    background-position: 150px 150px,
        0px 0px !important;
    background-size: 300px !important;
    image-rendering: pixelated;
    filter: blur(5px);
    opacity: .8;
    transform: rotateZ(10deg);
}