/* Dica de ferramenta de estilo para minecraft */
#minetip-tooltip {
	color: #FFF;
	text-shadow: 3px 3px 0 #3F3F3F;
}
/* Dica de ferramenta de estilo para minecraft */
#minetip-tooltip {
	top: 0;
	left: 0;
	padding: 15px;
	display: none;
	position: fixed;
	font-size: 20px;
	margin: 3px 1px;
	line-height: 3px;
	padding-top: 27px;
	word-spacing: 3px;
	padding-left: 10px;
	padding-right: 10px;
	white-space: nowrap;
	pointer-events: none;
	z-index: 99 !important;
	background-color:#100010;
	background-color:rgba(16, 0, 16, 0.94);
	font-family: Minecraftia, Minecraft, sans-serif;
}
#minetip-tooltip::before {
	top: 3px;
	left: -3px;
	right: -3px;
	bottom: 3px;
	content: "";
	position: absolute;
	border-style: none solid;
	border: 3px solid #100010;
	border-color:rgba(16, 0, 16, 0.94);
}
#minetip-tooltip::after {
	left: 0;
	top: 3px;
	right: 0;
	content: "";
	bottom: 3px;
	position: absolute;
	border: 3px solid #2D0A63;
	border-image: linear-gradient(rgba(80, 0, 255, 0.31),rgba(40, 0, 127, 0.31)) 1;
	border-image: -webkit-linear-gradient(rgba(80, 0, 255, 0.31),rgba(40, 0, 127, 0.31)) 1;
}
#minetip-tooltip > .description,
#minetip-tooltip > .minetip-description {
	display: block;
	margin-top: 4px;
}
#descricao_item_minetip{
	float: left;
	color: #a8a8a8;
	text-shadow: 3px 3px 0 #2a2a2a;
}
#nome_interno_minetip{
	float: left;
	color: #545454;
	padding-top: 25px;
	text-shadow: 3px 3px 0 #151515;
}
.item_encantado{
	color: #54fcfc;
	text-shadow: 3px 3px 0 #153e3e;
}
.item_especial{
	color: #fcfc54;
	text-shadow: 3px 3px 0 #3e3e15;
}
.item_lendario{
	color: #fc54fc;
	text-shadow: 3px 3px 0 #3e153e;
}
#descricao_item_minetp{
	float: left;
	color: #a8a8a8;
	text-shadow: 3px 3px 0 #2a2a2a;
}
#nome_interno_minetp{
	float: left;
	color: #545454;
	padding-top: 25px;
	text-shadow: 3px 3px 0 #151515;
}
.efeito_cor_azul{
	float: left;
	color: #5454fc;
	padding-top: 30px;
	text-shadow: 3px 3px 0 #15153e;
}
.efeito_cor_vermelha{
	float: left;
	color: #fc5454;
	padding-top: 30px;
	text-shadow: 3px 3px 0 #3e1515;
}	
.efeito_cor_roxa{
	float: left;
	color: #a800a8;
	padding-top: 30px;
	text-shadow: 3px 3px 0 #2a002a;
}
.efeito_cor_verde{ 
	float: left;
	color: #00a800;
	padding-top: 30px;
	text-shadow: 3px 3px 0 #002a00;
}
.efeito_cor_padrao{
	float: left;
	color: #a8a8a8;
	padding-top: 30px;
	text-shadow: 3px 3px 0 #2a2a2a;
}
.espaco{
	float: left;
	width: 100%;
	padding-top: 5px;
}